
.icon-basket:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-tint:before { content: '\e803'; } /* '' */
.icon-up-hand:before { content: '\e804'; } /* '' */
.icon-signal:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-key:before { content: '\e807'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */